.create {
    &__wrapper {
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
    }

    &__loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__title {
        font-family: $header-font;
        font-size: 36px;
        letter-spacing: 0.02em;
        color: white;
        margin-left: 2%;

        &--loading {
          text-align: center;
        }

        &--error {
          font-size: 26px;
          text-align: center;
          margin: 30px auto;

          &:last-child {
            position: relative;
            width: max-content;
            cursor: pointer;

            &:hover {
              &::after {
                transform: scaleX(1.2);
              }
            }

            &::after {
              content: "";
              display: block;
              position: absolute;
              background-color: white;
              width: 100%;
              height: 4px;
              margin-top: 10px;
              transition: transform 0.4s ease;
            }
          }
        }
    }

    &__animeWrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &:hover {
          .create__anime {
            opacity: 0.6;
          }
        }
    }

    &__anime {
        color: white;
        width: 30%;
        max-width: 560px;
        background: #222;
        border-radius: $standard-br;
        margin: 2% 2% 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $para-font;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        background-size: cover !important;
        background-position: center !important;
        transition: opacity 0.4s ease;

        img {
            width: 80%;
            margin: 0 auto;
            height: 65%;
            max-height: 190px;
            object-fit: contain;
        }

        &:hover {
          opacity: 1 !important;
        }

        &:after {
            content: "";
            display: block;
            padding-bottom: 65%;
        }
    }
}

@keyframes ldio-qbz0aidmxz {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
.ldio-qbz0aidmxz div {
  position: absolute;
  animation: ldio-qbz0aidmxz 1s linear infinite;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #fff;
  transform-origin: 80px 82px;
}
.loadingio-spinner-eclipse-1a4jg7jojej {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}
.ldio-qbz0aidmxz {
  width: 60%;
  height: 60%;
  position: relative;
  transform: translateZ(0) scale(0.7);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
  margin: 0 auto;
}
.ldio-qbz0aidmxz div { box-sizing: content-box; }
/* generated by https://loading.io/ */